In [7]:
from sklearn.preprocessing import OneHotEncoder
from tqdm import tqdm
import pandas as pd
import numpy as np

In [8]:
beer = pd.read_csv(r"beer_for_FE_2.csv")
beer.sample(5)

,beer/ABV,beer/brewerId,review/appearance,review/aroma,review/overall,review/palate,review/taste,user/birthdayRaw,"beer_name_""The Wind Cried Mari..."" Scottish Heather Ale",beer_name_'Pooya Porter,...,review/text-92,review/text-93,review/text-94,review/text-95,review/text-96,review/text-97,review/text-98,review/text-99,user/female,user/male
2290,6.6,1199,3.5,3.5,4.0,4.5,4.0,0.0,False,False,...,0.200541,0.397478,-0.197153,0.227150,-0.084798,0.134381,0.125460,-0.150590,0.0,0.0
11786,11.2,1199,4.0,4.5,4.5,4.5,4.5,0.0,False,False,...,0.081887,0.410750,-0.164653,0.175188,-0.414421,0.062686,0.230697,0.079137,0.0,1.0
34695,4.4,1,3.0,3.0,3.5,3.0,3.5,0.0,False,False,...,-0.311591,-0.035873,-0.155870,0.147576,0.085626,0.409237,0.360229,-0.169806,0.0,1.0
29701,10.2,1199,4.0,4.0,4.0,4.0,4.5,0.0,False,False,...,0.064334,0.364601,-0.201411,0.080842,-0.419199,0.184965,0.055179,-0.146875,0.0,0.0
18388,6.5,365,4.5,4.5,4.5,4.0,4.0,0.0,False,False,...,0.022959,0.218986,-0.013625,0.254708,-0.387532,0.111430,0.251059,-0.223584,0.0,1.0

### The columns `["min", "hour", "mday", "sec",	"year",	"wday",	"mon", "isdst",	"yday"]` are Categorical Data

In [9]:
time = beer[["min", "hour", "mday", "sec",	"year",
             "wday",	"mon", "isdst",	"yday"]].astype("category")
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37490 entries, 0 to 37489
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   min     37490 non-null  category
 1   hour    37490 non-null  category
 2   mday    37490 non-null  category
 3   sec     37490 non-null  category
 4   year    37490 non-null  category
 5   wday    37490 non-null  category
 6   mon     37490 non-null  category
 7   isdst   37490 non-null  category
 8   yday    37490 non-null  category
dtypes: category(9)
memory usage: 385.8 KB

In [10]:
timeCols = time.columns
timeCols

Index(['min', 'hour', 'mday', 'sec', 'year', 'wday', 'mon', 'isdst', 'yday'], dtype='object')

##### One-Hot Encoding on `["min", "hour", "mday", "sec",	"year",	"wday",	"mon", "isdst",	"yday"]`

In [11]:
for column in tqdm(timeCols):
    encoder = OneHotEncoder(sparse_output=False)
    timeEncoded = encoder.fit_transform(np.array(time[column]).reshape(-1, 1))
    cols = list()
    for i in range(timeEncoded.shape[1]):
        cols.append(f"{column}_{i}")
    time = pd.concat([time.drop(columns=[column]), pd.DataFrame(
        timeEncoded, columns=cols).drop(columns=[cols[0]])], axis=1)
time

100%|██████████| 9/9 [00:00<00:00, 12.22it/s]

,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,...,yday_356,yday_357,yday_358,yday_359,yday_360,yday_361,yday_362,yday_363,yday_364,yday_365
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37485,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37487,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37490 entries, 0 to 37489
Columns: 566 entries, min_1 to yday_365
dtypes: float64(566)
memory usage: 161.9 MB

##### Merging into Original DataFrame

In [13]:
beer = pd.concat([beer, time], axis=1)
beer

,beer/ABV,beer/brewerId,review/appearance,review/aroma,review/overall,review/palate,review/taste,user/birthdayRaw,"beer_name_""The Wind Cried Mari..."" Scottish Heather Ale",beer_name_'Pooya Porter,...,yday_356,yday_357,yday_358,yday_359,yday_360,yday_361,yday_362,yday_363,yday_364,yday_365
0,5.00,14338,4.0,4.0,4.0,4.0,4.0,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,11.00,395,4.0,3.5,3.5,3.5,3.0,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.70,365,3.5,4.0,3.5,3.5,3.5,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.40,1,3.0,3.0,2.5,3.0,3.0,1976.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.40,1417,4.0,3.0,3.0,3.5,2.5,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37485,5.50,3268,4.0,3.5,3.5,3.5,3.5,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37486,8.50,1199,4.5,4.0,3.5,4.5,4.5,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37487,4.75,394,4.0,3.5,4.0,4.5,4.0,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37488,11.20,1199,4.0,4.0,4.0,5.0,5.0,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37489,8.50,1199,4.0,4.0,4.0,4.5,4.0,0.0,False,False,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Extracting Data for EDA 3

In [15]:
beer.to_csv(path_or_buf="beer_EDA_3.csv", index=False)

# Now, GoTo "`EDA_3.ipynb`"